<template lang="html">
  <div class="card">
    <img :src="album.images[0].url" class="card-img-top" alt="Album image" />
    <div class="card-body">
      <h3 class="card-title">{{album.name}}</h3>
      <!-- <p class="card-text">Text</p> -->
    </div>
  </div>
</template>
<script>
export default {
  props: ["album"],
};
</script>