<template lang="html">
  <div class="card">
    <img :src="artist.images[0].url" class="card-img-top" alt="..." />
    <div class="card-body">
      <h3 class="card-title">{{artist.name}}</h3>
      <!-- <p class="card-text">Text</p> -->
    </div>
  </div>
</template>
<script>
export default {
  props: ["artist"],
};
</script>