
<template>
  <!-- .row>.col*2 -->
  <!-- h3.display-3{Playlists} -->
  <div>
    <h3 class="display-3">Playlists</h3>
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlistsData"
          @remove="removePlaylist($event)"
        />
        <button class="btn btn-info float-end mt-4" @click="showEmptyForm()">
          Create new
        </button>
      </div>
      <div class="col">
        <!-- <router-view v-if="selected" :playlist="selected"></router-view> -->
        <div v-if="selected && mode === 'details'">
          <PlaylistDetails :playlist="selected" @edit="showForm()" />
        </div>
        <div v-else-if="selected && mode === 'form'">
          <PlaylistEditor
            key="edit"
            :playlist="selected"
            @cancel="cancel()"
            @submit="updatePlaylist($event)"
          />
        </div>
        <div v-else-if="mode === 'create'">
          <PlaylistEditor
            key="create"
            @cancel="cancel()"
            @submit="addNewPlaylist"
          />
        </div>
        <p v-else class="alert alert-info">Please select playlist</p>
      </div>
    </div>
  </div>
</template>

<script>
import PlaylistList from "../../components/playlists/PlaylistList.vue";
import PlaylistDetails from "../../components/playlists/PlaylistDetails.vue";
import PlaylistEditor from "../../components/playlists/PlaylistEditor.vue";
import { fetchPlaylistById, fetchPlaylists } from "../../services/APIService";

export default {
  components: { PlaylistList, PlaylistDetails, PlaylistEditor },
  data() {
    return {
      mode: "details",
      playlistsData: [],
      selected: null,
    };
  },
  async beforeRouteEnter(to, from, next) {
    const data = await fetchPlaylists();
    const selected = to.params.playlistId
      ? await fetchPlaylistById(to.params.playlistId)
      : null;
    next((vue) => {
      vue.mode = to.query.mode || "details";
      vue.playlistsData = data;
      vue.selected = selected;
    });
  },
  async beforeRouteUpdate(to, from, next) {
    this.selected = to.params.playlistId
      ? await fetchPlaylistById(to.params.playlistId)
      : null;
    this.mode = to.query.mode || "details";
    next();
  },
  async created() {},
  methods: {
    showEmptyForm() {
      this.$router.push({ query: { mode: "create" } });
    },
    showForm() {
      this.$router.push({
        path: `/playlists`,
        query: { ...this.$route.query, mode: "form" },
      });
    },
    cancel() {
      this.$router.push({
        path: `/playlists`,
        query: { ...this.$route.query, mode: "details" },
      });
    },
    updatePlaylist(draft) {
      this.playlistsData = this.playlistsData.map((p) =>
        p.id === draft.id ? draft : p
      );
      this.mode = "details";
    },
    addNewPlaylist(draft) {
      draft.id = Date.now() + String(Math.random() * 100_000);
      this.playlistsData = [...this.playlistsData, draft];

      this.selectedId = draft.id;
      this.mode = "details";
    },
    removePlaylist(id) {
      this.playlistsData = this.playlistsData.filter((p) => p.id !== id);
      if (this.selected?.id == id) {
        this.$router.push("/playlists");
      }
    },
  },
};
</script>

  
  <!-- VueInit -->
  <!-- <template lang="html"> -->
  <!-- --- -->