<template>
  <div>
    <!-- <pre>{{ playlist }}</pre> -->
    <!-- <pre>{{ draft }}</pre> -->

    <div class="mb-3">
      <label for="playlist_name" class="form-label">Name:</label>
      <input
        type="text"
        class="form-control"
        name="playlist_name"
        id="playlist_name"
        placeholder="Name"
        v-model="draft.name"
        maxlength="70"
      />
      <!-- :value="draft.name"
        @input="draft.name = $event.target.value" -->
      <small class="form-text text-muted">{{ draft.name.length }} / 70</small>
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        name="playlist_public"
        id="playlist_public"
        v-model="draft.public"
      />
      <label class="form-check-label" for="playlist_public"> Public </label>
    </div>

    <div class="mb-3">
      <label for="playlist_description" class="form-label">Description</label>
      <textarea
        class="form-control"
        name="playlist_description"
        id="playlist_description"
        v-model="draft.description"
        rows="3"
      ></textarea>
    </div>

    <div v-if="false">
      <input type="radio" v-model="picked" value="a" />
      <input type="radio" v-model="picked" value="b" />
      {{ picked }} <br />
      <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
      />
      {{ toggle }} <br />

      <input type="checkbox" v-model="namesList" value="Jack" />
      <input type="checkbox" v-model="namesList" value="Jim" />
      <input type="checkbox" v-model="namesList" value="Johnny" />
      {{ namesList }} <br />

      <select v-model="selected" multiple>
        <option value="abc">ABC</option>
        <option value="cba">CBA</option>
      </select>
      {{ selected }} <br />
    </div>

    <!-- <Button class="btn-info">Test</Button>
    <Button is="a" class="btn-info">Test</Button>
    <a href="#" is="button" class="btn-info">Link</a> -->

    <router-link :to="{ mode: 'details' }" class="btn btn-danger"
      >Cancel</router-link
    >
    <button class="btn btn-success" @click="submit">Save</button>
  </div>
</template>

<script>
import Button from "../Button.vue";
export default {
  props: {
    playlist: {
      type: Object,
      default() {
        return {
          id: "",
          name: "",
          public: false,
          description: "",
        };
      },
    },
  },
  data() {
    return {
      // draft: undefined // not reactive!
      draft: null,
      picked: "b",
      toggle: "no",
      namesList: ["Jack"],
      selected: "abc",
    };
  },
  watch: {
    playlist: {
      handler() {
        this.draft = { ...this.playlist };
      },
      immediate: true,
    },
  },
  methods: {
    cancel() {
      this.$emit("cancel");
    },
    submit() {
      this.$emit("submit", this.draft);
    },
  },
  components: { Button },
};
</script>
