<template lang="html">
  <div :id="'playlist_' + playlist.id" :data-testid="'playlist_' + playlist.id" :title="playlist.name">
  
    <dl>
      <dt>Name:</dt>
      <dd>{{playlist.name}}</dd>
      
      <dt>Public:</dt>
      <dd 
      class="playlist-publicprivate"
      :class="{ 'playlist-public': playlist.public, 'playlist-private': !playlist.public }">
        <!-- {{playlist.public? 'Yes':'No'}} -->
        {{ playlist.public | yesno | titlecase }}
      </dd>

      <dt>Description:</dt>
      <dd>{{playlist.description}}</dd>
    </dl>
    <router-link  class="btn btn-info" :to="{
       path:'.', query:{mode:'form'}
    }">Edit</router-link >
  </div>
</template>

<style scoped>
.playlist-publicprivate {
  border-bottom: 1px solid;
}
.playlist-public {
  color: green;
}
.playlist-private {
  color: red;
}
</style>

<script>
export default {
  props: ["playlist"],
  filters: {
    yesno(value) {
      return value ? "yes" : "no";
    },
  },
};
</script>
