<template lang="html">
  <div>
    <div class="list-group">
        <router-link  v-for="(playlist, index) in playlists" :key="playlist.id"
          class="list-group-item list-group-item-action"
          :to="'/playlists/'+playlist.id+'/'"
        >
          <span>{{ index + 1 }}. {{ playlist.name }}</span>

          <span class="close float-end" @click.prevent.capture="$emit('remove', playlist.id)">&times;</span>
        </router-link>
        <template v-if="!playlists.length">
          <div class="list-group-item disabled text-center">No playlists</div>
        </template>
    </div>
  </div>
</template>

<script>
export default {
  props: ["playlists", "selectedId"],
  methods: {
    selectPlaylist(id) {
      this.$emit("selectChange", id);
    },
  },
};
</script>
