<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello vue</title>

    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <h1>Hello Vue</h1>

    <div id="app">
      {{ osoba.kto }} ma {{ osoba.co }}
      <button v-on:click="zmien()">Zmien</button>
      <moj-box tresc="Tresc boxa" tytul="tutul boxa"></moj-box>
      <moj-box tresc="Tresc boxa" tytul="tutul boxa"></moj-box>
      <moj-box v-bind:tresc=" osoba.kto " :tytul=" osoba.co "></moj-box>
    </div>

    <div class="mojbox"></div>
    <div class="mojbox2"></div>

    <script>
      const CollapseBox = Vue.extend({
        props: ["tresc", "tytul"],
        template: `<div @click="przelacz" style="border:1px solid black">
          {{tytul}} <div v-show="otwarte">{{tresc}}</div>
        </div>`,
        data() {
          return { otwarte: false };
        },
        methods: {
          przelacz() {
            this.otwarte = !this.otwarte;
          },
        },
      });

      window.app = new Vue({
        el: "#app",
        components: {
          "moj-box": CollapseBox,
          //  ==>> <moj-box tresc="Tresc boxa" tytul="tutul boxa"/>
        },
        data: {
          osoba: {
            kto: "Bob",
            co: "Psa",
          },
        },
        methods: {
          zmien() {
            this.co = this.co === "Psa" ? "Vue" : "Psa";
          },
        },
      });

      new CollapseBox({
        el: ".mojbox",
        propsData: { tresc: "Box 1 tresc", tytul: "Box 1 " },
      });
      new CollapseBox({
        el: ".mojbox2",
        propsData: { tresc: "Box 2 tresc", tytul: "Box 2 " },
      });
    </script>
  </body>
</html>
