<template lang="html">
  <div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">MusicApp</a>
        <button
          class="navbar-toggler"
          type="button"
          @click="open = !open"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            
            <li class="nav-item">
              <router-link class="nav-link" active-class="active placki" to="/playlists">Playlists</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/search">Search</router-link>
            </li>
          </ul>
          <div class="navbar-text ms-auto">
            {{userData.user}}
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  inject: ["userData"],
  data() {
    return { open: false };
  },
  created(){
    // this.userData.user = '' // Bad Practice!
  }
};
</script>