<template lang="html">
  <div class="mb-3">
    <div class="input-group">
      <input
        type="text"
        id="search_input"
        class="form-control"
        placeholder="Search"
        v-model="queryDraft"
        ref="searchInputRef"
        @keyup.enter = "submit()"
      />
      <button class="btn btn-outline-secondary" type="button" @click="submit()">Search</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["query"],
  watch: {
    query() {
      this.queryDraft = this.query;
    },
  },
  data() {
    return { queryDraft: this.query };
  },
  mounted() {
    // document.getElementById('search_input')
    if (this.$refs["searchInputRef"] instanceof HTMLElement) {
      this.$refs["searchInputRef"].focus();
    }
  },
  methods: {
    submit() {
      this.$emit("search", this.queryDraft);
    },
  },
};
</script>