<template>
  <div id="app">
    <!-- .container>.row>.col>router-view -->
    <NavBar />

    <div class="container">
      <div class="row">
        <div class="col">
          <p class="alert alert-danger" v-if="message">{{ message }}</p>
          {{ $store.getters.counter }}
          <button @click="$store.dispatch('counter/startCounter')">
            Start
          </button>
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* npm i bootstrap */
import "bootstrap/dist/css/bootstrap.css";
import NavBar from "./components/NavBar.vue";
import router from "./router";
import { fetchCurrentUser } from "./services/APIService";
import { mapState } from "vuex";

export default {
  components: { NavBar },
  provide() {
    return {
      userData: this.userData,
    };
  },
  computed: {
    ...mapState("ui", ["message"]),
  },
  data() {
    return {
      userData: {
        user: "Guest",
        // login() {},
      },
    };
  },
  async created() {
    router.onError((error) => {
      this.$store.commit("ui/message", error.message);
    });
    this.user = await fetchCurrentUser();
    this.userData.user = this.user.display_name;
  },
};
</script>