<template lang="html">
  <div>
    <h3 class="display-3">Search</h3>

    <div class="row">
      <div class="col">
        <SearchForm :query="query" @search="search"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <SearchResults :results="results"/>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import SearchForm from "../../components/search/SearchForm.vue";
import SearchResults from "../../components/search/SearchResults.vue";
import { fetchSearchResults } from "../../services/APIService";
import store from "../../store";
export default {
  beforeRouteEnter: async (to, from, next) => {
    try {
      const query = to.query.q;
      await store.dispatch("search/searchAlbums", query);
      next();
    } catch (error) {
      next(error);
    }
  },
  async beforeRouteUpdate(to, from, next) {
    try {
      const query = to.query.q;
      // await store.dispatch("search/searchAlbums", query);
      await this.searchAlbums(query);
      next();
    } catch (error) {
      next(error);
    }
  },
  components: { SearchForm, SearchResults },
  computed: {
    ...mapGetters("search", ["query", "results"]),
  },
  methods: {
    ...mapActions("search", ["searchAlbums"]),
    search(query) {
      this.$router.push({ name: "search", query: { q: query } });
    },
  },
};
</script>